.contenedor-header {
  background-image: url(../img/background-img-b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  padding: 1.5rem;
  border-radius: 0.2rem;
  margin: 1rem; }

/* (header-bloque) = (header-bloque1 + header-bloque2) */
.header-bloque {
  text-align: center; }

.header-bloque1__navegacion {
  display: flex;
  flex-direction: column; }

.logo-header {
  font-size: 4rem; }

/*header-bloque1*/
.header-bloque1__h1:hover {
  color: #EFCA08; }

.header-bloque1__navegacion--a {
  padding: 0.8rem;
  font-size: 1.9rem;
  font-weight: bolder; }

.header-bloque1__navegacion--a:hover {
  background-color: #EFCA08;
  color: #003245;
  border-radius: 0.2rem; }

/* header-bloque2 */
.header-bloque2 {
  margin-top: 3rem; }

.header-bloque2__h2 {
  font-size: 4rem; }

.header-bloque2__p {
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: bolder; }

/*Media Query | Header*/
@media (min-width: 768px) {
  .header-bloque1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .header-bloque1__navegacion {
    display: block; }
  .logo-header {
    font-size: 3rem; }
  .header-bloque2 {
    margin-top: 10rem; }
  .header-bloque2__p {
    font-size: 2rem; } }

.footer {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  padding-top: .5rem; }

/*contenedor-footer-1*/
.contenedor-footer-1 {
  grid-column: 1 / 2;
  margin: 1rem;
  margin-top: 3rem; }
  .contenedor-footer-1 .contenedor-footer-1__h2 {
    text-align: center; }

@media (max-width: 558px) {
  .contenedor-footer-1__h2 {
    margin-top: 2.5rem; } }

@media (min-width: 900px) {
  .contenedor-footer-1 {
    margin-top: 2rem; } }

/*contenedor-footer-2 + img-logos */
.contenedor-footer-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 1rem; }

@media (max-width: 480px) {
  .contenedor-footer-2 {
    margin: 0;
    padding: 0; } }

.logos-img {
  width: 3rem;
  height: 3rem; }

@media (min-width: 640px) {
  .logos-img {
    width: 3.5rem;
    height: 3.5rem; } }

/*contenedor-footer-3*/
.contenedor-footer-3 {
  grid-column: 3 / 4;
  margin: 1rem; }
  .contenedor-footer-3 .contenedor-footer-3__copyright {
    text-align: center; }
  .contenedor-footer-3 .icono-copyright {
    font-size: 1.3rem; }
  @media (min-width: 768px) {
    .contenedor-footer-3 .contenedor-footer-3__copyright {
      padding-top: .8rem; } }

@media (max-width: 480px) {
  .contenedor-footer-3__copyright {
    font-size: 1.5rem; } }

.seccion-main__h2 {
  color: #353535;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 3rem;
  margin-bottom: .5rem; }

.seccion-main__p {
  color: #353535;
  font-size: 2rem;
  font-weight: bolder;
  text-align: left;
  margin-left: 1.5rem; }

.seccion-main__p--bold {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 2rem;
  color: #003245;
  text-align: center; }

.img-main {
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem; }

@media (min-width: 1200px) {
  .contenedor-main-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem; }
  .seccion-main {
    grid-column: 1 / 2;
    justify-content: space-between; }
  .contendor-img-main {
    grid-column: 2 / 3;
    height: 40rem;
    margin: 1rem auto; } }

.contenedor-main {
  margin: 1rem;
  border-radius: 0.2rem; }

.h1-main-blog {
  color: #353535;
  font-size: 3.5rem;
  text-align: center;
  padding: 3rem;
  font-style: italic; }

.contenedor-secciones-blog {
  border: 1px solid #353535; }

@media (min-width: 1200px) {
  .contenedor-secciones-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: 0 auto; } }

.contenedor-img-blog {
  padding: 1.5rem; }

.img-blog {
  border-radius: 0.2rem;
  width: 100%;
  height: auto;
  margin: 0 auto; }

.contenedor-texto-blog__h4 {
  font-family: 'PT Sans', sans-serif;
  font-size: 3rem;
  color: #003245;
  text-align: center; }

.contenedor-texto-blog__p {
  font-family: "Merriweather Sans", sans-serif;
  color: #003245;
  font-size: 2rem;
  padding: 1.5rem; }

.h2-main-consultoria {
  font-family: "PT Sans", sans-serif;
  color: #353535;
  font-size: 4rem;
  text-align: center;
  padding: 3rem;
  margin: 2rem; }

.contenedor-main-consultoria {
  margin: 2rem;
  background-color: #d8e2dc;
  padding: 1.7rem;
  border-radius: 0.2rem; }

@media (min-width: 1200px) {
  .contenedor-main-consultoria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.2rem;
    row-gap: 1.2rem;
    width: 80%;
    margin: 0 auto; } }

.img-consultoria {
  border-radius: 0.2rem;
  width: 100%; }

.h4-consultoria {
  color: #003245;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem; }

.boton-consultoria {
  font-size: 2rem;
  border-radius: 0.2rem;
  margin: 1rem;
  border: none;
  background-color: #5282a3;
  color: #f4f4f4; }
  .boton-consultoria:hover {
    background-color: #3A9130; }

.main-contacto {
  background-color: #d8e2dc;
  padding-top: 4rem;
  margin: 1rem; }
  .main-contacto .h2-main {
    font-family: "PT Sans", sans-serif;
    color: #353535;
    font-size: 5rem;
    font-weight: 700;
    text-align: center; }

.contenedor-main-contacto {
  background-image: url(../img/dolares.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 5rem auto; }
  .contenedor-main-contacto .formulario {
    border: 0;
    background-color: #003245;
    width: 99%;
    border-radius: 0.8rem;
    margin: 4rem auto 0 auto; }
    .contenedor-main-contacto .formulario .campo-formulario {
      margin: 1rem;
      padding: 1.5rem;
      border: 0;
      display: grid;
      grid-template-columns: 30% 70%;
      text-align: center;
      gap: .5rem; }
      .contenedor-main-contacto .formulario .campo-formulario .campo-formulario__label {
        grid-column: 1 / 2;
        font-family: "Merriweather Sans", sans-serif;
        font-weight: bolder;
        font-size: 2rem;
        color: #f4f4f4;
        padding: 1.5rem; }
      .contenedor-main-contacto .formulario .campo-formulario .campo-formulario__input {
        grid-column: 2 / 4;
        width: 100%;
        padding: 1.5rem;
        border-radius: 0.8rem; }
      .contenedor-main-contacto .formulario .campo-formulario .textarea-contacto {
        overflow: auto;
        grid-column: 2 / 4;
        border-radius: 0.8rem;
        width: 100%;
        resize: none;
        padding: .5rem; }
      .contenedor-main-contacto .formulario .campo-formulario .textarea-contacto::-webkit-scrollbar {
        background-color: #f4f4f4;
        border-radius: 0.8rem;
        width: 1rem; }
      .contenedor-main-contacto .formulario .campo-formulario .textarea-contacto::placeholder {
        font-size: 1.8rem;
        padding: .2rem .5rem; }
      .contenedor-main-contacto .formulario .campo-formulario .boton-formulario {
        background-color: #f4f4f4;
        color: #003245;
        border-radius: 0.8rem;
        border: 0;
        font-weight: bolder;
        font-size: 2rem;
        padding: 1.5rem;
        grid-column: 2 / 4; }
      .contenedor-main-contacto .formulario .campo-formulario .boton-formulario:hover {
        cursor: pointer; }

@media (min-width: 768px) {
  .contenedor-main-contacto {
    width: 98%; }
    .contenedor-main-contacto .formulario {
      width: 88%;
      margin: 4rem auto 1rem auto; } }

@media (min-width: 1200px) {
  .contenedor-main-contacto {
    width: 80%; }
    .contenedor-main-contacto .formulario {
      width: 60%; } }

/*Reset | 1rem = 10px*/
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Global styles*/
body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  color: #f4f4f4;
  background-color: #003245; }

body::-webkit-scrollbar {
  width: 1.2rem; }

body::-webkit-scrollbar-thumb {
  background-color: #f4f4f4;
  border-radius: 0.2rem; }

a {
  color: #f4f4f4;
  text-decoration: none; }

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700; }

p {
  font-family: "Merriweather Sans", sans-serif; }

main {
  background-color: #f4f4f4;
  padding-bottom: 3.5rem;
  border-radius: 0.2rem; }

/*Main style | index.html*/
.contenedor-main {
  border-radius: 0.2rem;
  margin: 1rem; }
  .contenedor-main .h2-main {
    text-align: center;
    color: #353535;
    padding: 1.5rem;
    font-size: 4rem; }
  .contenedor-main .cursos {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background-color: #003245;
    border-radius: 0.2rem;
    margin-bottom: 1.3rem; }
    .contenedor-main .cursos .cursos__h3, .contenedor-main .cursos .cursos__p {
      text-align: center; }
    .contenedor-main .cursos .cursos__p--span {
      color: #3A9130;
      text-transform: uppercase;
      margin-left: .3rem;
      font-weight: bolder; }
    .contenedor-main .cursos .cursos__img {
      width: 50%;
      height: 25rem;
      border-radius: 2px;
      align-self: center;
      margin: 3rem; }
    .contenedor-main .cursos .botones-index {
      font-size: 1.8rem;
      border-radius: 0.2rem;
      margin: 1rem;
      border: none;
      background-color: #5282a3;
      color: #f4f4f4; }
      .contenedor-main .cursos .botones-index:hover {
        background-color: #3A9130; }
  @media (min-width: 768px) {
    .contenedor-main .contenedor-cursos {
      display: flex;
      padding: 1.5rem; }
    .contenedor-main .cursos {
      margin: 1.5rem; } }
