.main-contacto {
    background-color: $gris;
    padding-top: 4rem;
    margin: 1rem;
    .h2-main {
        font-family: $fuenteSecundariaTitulos;
        color: $negro;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
}

.contenedor-main-contacto {
    background-image: url(../img/dolares.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    border-radius: $borderRadiusForm;
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 5rem auto;

    .formulario {
        border: 0;
        background-color: $backgroundColor;
        width: 99%;
        border-radius: $borderRadiusForm;
        margin: 4rem auto 0 auto;

        .campo-formulario {
            margin:1rem;
            padding: $padding;
            border: 0;
            display: grid;
            grid-template-columns: 30% 70%;
            text-align: center;
            gap: .5rem;

            .campo-formulario__label {
                grid-column: 1 / 2;
                font-family: $fuenteParrafos;
                font-weight: bolder;
                font-size: 2rem;
                color: $blanco;
                padding: $padding;
            }
                
            .campo-formulario__input {
                grid-column: 2 / 4;
                width: 100%;
                padding: $padding;
                border-radius: $borderRadiusForm;
                outline: none;
            }

            .textarea-contacto {
                overflow: auto;
                grid-column: 2 / 4;
                border-radius: $borderRadiusForm;
                width: 100%;
                resize: none;
                padding: .5rem;
                outline: none;
            }

            .textarea-contacto::-webkit-scrollbar {
                background-color: $blanco;
                border-radius: $borderRadiusForm;
                width: 1rem;
            }
                
            .textarea-contacto::placeholder {
                font-size: 1.8rem;
                padding: .2rem .5rem;
            }

            .boton-formulario {
                background-color: $blanco;
                color: $backgroundColor;
                border-radius: $borderRadiusForm;
                border: 0;
                font-weight: bolder;
                font-size: 2rem;
                padding: $padding;
                grid-column: 2 / 4;
            }
                
            .boton-formulario:hover {
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 768px) {
    .contenedor-main-contacto {                                
        width: 98%;
        
        .formulario {
            width: 88%;
            margin: 4rem auto 1rem auto;
        }       
    }
} 

@media (min-width: 1200px) {
    .contenedor-main-contacto {                                
        width: 80%;
        
        .formulario {
            width: 60%;
        }
    }
} 

