.h2-main-consultoria {
    font-family: $fuenteSecundariaTitulos;
    color: $negro;
    font-size: 4rem;
    text-align: center;
    padding: 3rem;
    margin: 2rem;
}

.contenedor-main-consultoria {
    margin: 2rem;
    background-color: $gris;
    padding: 1.7rem;
    border-radius: $borderRadius;
}

@media (min-width: 1200px) {                        
    .contenedor-main-consultoria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1.2rem;
        row-gap: 1.2rem;
        width: 80%;
        margin: 0 auto;
    }
}

.img-consultoria {
    border-radius: $borderRadius;
    width: 100%;
}

.h4-consultoria {
    color: $backgroundColor;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    padding: $padding;
}

.boton-consultoria { 
    font-size: 1.7rem;
    text-transform: uppercase;
}