.footer {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding-top: .5rem;
}

/*contenedor-footer-1*/
.contenedor-footer-1 {
    grid-column: 1 / 2;
    margin: $margin;
    margin-top: 3rem;
    .contenedor-footer-1__h2 {
        text-align: center;
        color:$negro;
    }
}

@media (max-width: 558px) {
    .contenedor-footer-1__h2 {
        margin-top: 2.5rem;
    }
}

@media (min-width: 900px) {                                          
    .contenedor-footer-1 {              
        margin-top: 2rem;
    }  
} 

/*contenedor-footer-2 + img-logos */

.contenedor-footer-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin: $margin; 
}

@media (max-width: 480px) {
    .contenedor-footer-2 {
        margin:0;
        padding:0;
    }
}

.logos-img {              
    width: 3rem;
    height: 3rem;   
}

@media (min-width: 640px) {                                          
    .logos-img {              
        width: 3.5rem;
        height: 3.5rem;   
    }  
} 

/*contenedor-footer-3*/
.contenedor-footer-3 {
    grid-column: 3 / 4;
    margin: $margin;

    .contenedor-footer-3__copyright {
        text-align: center;
        font-weight: 500;
        color:$negro;
    }

    .icono-copyright{ font-size: 1.3rem; }

    @media (min-width: 768px) {                                          
        .contenedor-footer-3__copyright {
            padding-top: .8rem;
        }
    }    
}

@media (max-width: 480px) {
    .contenedor-footer-3__copyright {
        font-size: 1.5rem;
    }
}


