$fuenteTitulos: 'Poppins', sans-serif;
$fuenteSecundariaTitulos:'PT Sans', sans-serif;
$fuenteParrafos: 'Merriweather Sans', sans-serif;

$backgroundColor:#003245;
$blanco: #f4f4f4;
$negro: #353535;
$verde: #3A9130;
$amarillo: #EFCA08;
$gris: #d8e2dc;
$celeste: #5282a3;


$borderRadius: .2rem;
$borderRadiusForm: .8rem;
$padding: 1.5rem;
$paddingBoton: .8rem;
$margin: 1rem;























